.aluminium {
    color: #a4a4a4;
}
.apple {
    color: #84cd4f;
}
.blue {
    color: #497ce3;
}
.chocolate {
    color: #967d50;
}
.crimson {
    color: #cc1515;
}
.cyan {
    color: #26a2c1;
}
.denim {
    color: #48acde;
}
.faenza {
    color: #dab980;
}
.flamingo {
    color: #f67638;
}
.graphite {
    color: #7a8387;
}
.green {
    color: #6aab20;
}
.orange {
    color: #ea7130;
}
.orchid {
    color: #c752c7;
}
.penumbra {
    color: #4d4d4d;
}
.pink {
    color: #f13c6f;
}
.purple {
    color: #7963e6;
}
.red {
    color: #d52a29;
}
.saffron {
    color: #f5c535;
}
.sky {
    color: #1e9cef;
}
.violet {
    color: #b45bf5;
}
.yellow {
    color: #e79627;
}
